@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
	background-color: #82a3a1;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Orbitron", serif;
}

.container {
	width: 300px;
	background-color: #82a3a1;
	box-shadow: 4px 4px 16px #465362;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	gap: 8px;
}

.display {
	width: 100%;
	background-color: #9fc490;
	border: 3px solid #465362;
	color: #465362;
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 16px;
}

#calculation,
#result {
	margin: 0;
	padding: 0;
}

#calculation {
	opacity: 0.7;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 8px;
}

button {
	flex: 1;
	padding: 16px 8px;
	border-radius: 8px;
	background-color: #c0dfa1;
	border: 1px solid #011936;
	color: #011936;
}

.operator {
	background-color: #9fc490;
	border: 1px solid #011936;
	color: #011936;
}

#clear,
#delete {
	background-color: #011936;
	border: 1px solid #c0dfa1;
	color: #c0dfa1;
}
